<!DOCTYPE html>
<html ng-app='LunchCheck'>
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Assignment 1</title>
  </head>
  <body>
    <h1>Assignment 1</h1>
    <p>Enter what you had for lunch today, in a comma separated list;</p>
    <div ng-controller='LunchCheckController'>
      <input type="text" ng-model="lunchList"></input>
      <button ng-click='checkIfTooMuch()'>Check If Too Much</button>
      <br>
      {{displayMessage}}
    </div>
  </body>
</html>
